﻿<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>IvoLogic</title>
    <link href="http://ivologic.com/style.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ivologic.com/js/scroll.js"></script>
    <script type="text/javascript" src="http://ivologic.com/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="http://ivologic.com/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="http://www.s5network1.com/js/61234.js"></script>
    <noscript><img src="http://www.s5network1.com/61234.png" style="display:none;" /></noscript>
    <link rel="stylesheet" href="http://ivologic.com/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();

            $("#menu21").click(function (e) {
                e.preventDefault();
                $.scrollTo('#footer', 800, {});
            });
        });
    </script>
</head>
<body>
    <div class="div1" style="margin-bottom: 150px;">
        <div class="div1data">
            <div class="menudiv">
                <div class="logo">
                    <img src="http://ivologic.com/images/logo.png" />
                </div><!--logo-->
            </div><!--menudiv-->
            <div><h1 class="div1h1" style="padding-top: 25px; line-height: 75px; font-size: 34.19px !important;">SMS Tracking Service for IvoCampaign</h1><!--div1h1--></div>
            <div><h1 class="div1h1" style="padding-top: 10px; line-height: 75px;">Vi automatiserer dine emneflows</h1><!--div1h1--></div>
            <div class="div1right">
                <ul class="div1right_ul">
                    <li class="div1right_li robotoreg">Flows på tværs af kanaler</li>
                    <li class="div1right_li robotoreg">Trigger baseret</li>
                    <li class="div1right_li robotoreg">Realtime</li>
                    <li class="div1right_li robotoreg">Emneberigelse</li>
                    <li class="div1right_li robotoreg">Nem redigering</li>
                </ul>
                <a id="menu21" href="#"><input type="button" name="book" class="div1btn robotoreg" value="Book en uforpligtende præsentation!" /></a>
                <a id="menu22" href="http://www.ivologic.com"><input type="button" style="background-color: #32CD32; border-color: #32CD32;" name="book" class="div1btn robotoreg" value="Læs mere om IvoCampaign her!" /></a>
            </div><!--div1right-->
        </div><!--div1data-->
    </div><!--div1-->
    <div id="footer" class="div6">
        <div class="content visible">
            <h5>Kontakt os</h5>
            <div id="footer-form" style="display: none;">
                <form id="kontakt">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Navn</label>
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                </td>
                                <td><input name="navn" type="text"></td>
                            </tr>
                            <tr>
                                <td><label>Firma</label></td>
                                <td><input name="firma" type="text"></td>
                            </tr>
                            <tr>
                                <td><label>Telefon</label></td>
                                <td><input name="telfon" type="text"></td>
                            </tr>
                            <tr>
                                <td><label>E-mail</label></td>
                                <td><input name="email" type="email"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>

                                    <input type="submit" id="btn2" value="Send!">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><div id="msg"></div></td>
                            </tr>
                        </tbody>
                    </table>
                    <p id="errorid"></p><!--errorid-->
                </form><!--kontakt-->
            </div>  <!--footer-form-->
            <div id="footer-content" style="float: left; width: 70%; margin-left: 14%;">
                <h6>60 45 40 00</h6>
                <p class="h7">Om IvoLogic</p><!--h7-->
                <p>
                    IvoLogic ApS er et software udviklingshus der er specialister indenfor automatisering af emneflows. Vi blev etableret i august 2011 og siden har der været stor efterspørgsel efter vores viden. Vores kunder tæller blandet andre virksomheder som ASE, Telenor, Weekendavisen og Ungdommens Røde Kors.
                </p>
            </div><!--footer-content-->
        </div><!--content-->
    </div><!--div6-->
</body>
</html>